extends _layout

block content
  +computer-header('competition')
  +mobile-header('competition')

  section#games
    h1.heading Our Games 
    //- p (Click the banner to learn more)
    
    // Looping throught each game and its info in games.yaml
    each game, index in data.games
      if game.club == true
        .game
          img(src=game.banner, title='Click to learn more..')  
          .game-details
            h2 About the game...
            p=game.about
            p=game.strategy
            p We run #{index} training every #{game.training}.
            //- h2 Management Team
            //- .team-faces
            //-   each member, index in game.members
            //-     .person
            //-       img(src=member)
            //-       p=index
            //- p=game.goals
