include _mixin
+computer-header('games')
+mobile-header('games')
section#games
  h1 Our Games 
  p (Click the banner to learn more)
  each game, index in games
    .game
      img(src='#{ game.image }', title='Click to learn more..')  
      .game-details
        h2 About the game...
        p #{ game.about }
        p #{ game.strategy }
        h2 Management Team
        .team-faces
          each member, index in game.members
            .person
              img(src='#{ member }')
              p #{ index }
        p #{ game.goals }
