header
  img(src='images/logo.png')
  nav
    a(href='about') About
    a(href='index') Home

section#games
  h1 Our Games
  each game, index in games
    .game
      img(src='#{ game.image }', title='Click to learn more..')  
      .game-details
        h2 About the game...
        p #{ game.about }
        p #{ game.strategy }
        h2 Our Team
        .team-faces
          each member, index in game.members
            .person
              img(src='#{ member }')
              p #{ index }
        p #{ game.team }
